/*
========================================================================================
    Nextflow config file for joint coPGT-M runs
========================================================================================
*/

params {
    callers                     = "haplotypecaller"
    only_call                   = false
    disable_hc_dict_validation  = true
    roi                         = "${params.genomes_base}/Hsapiens/GRCh38/regions/coPGT-M/coPGT-M_v1.bed"
    scatter_count               = 8
    filter                      = true
}
