/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    callers       = "haplotypecaller"
    only_call     = true
    roi           = "${params.genomes_base}/Hsapiens/GRCh38/regions/coPGT-M/coPGT-M_v1.bed"
    scatter_count = 8
    filter        = true
}
